<div>

  <h3>Vender carta</h3>

  <form action="/offer/sell" method="post">

    <label for="card">Card</label>
    {{!-- <input type="text" name="author" value="{{this.bookToEdit.author}}"> --}}

    <select name="card">

      <option value="{{this.allcard._id}}" selected>{{this.allcard.name}}</option>

      {{#each this.allCard}}
        
        <option value="{{this._id}}">{{this.name}}</option>

      {{/each}}

    </select>
    <p>*Only available's cards in stock</p>
    
    <br>

    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" value="{{this.quantity}}">

    <br>

    <label for="price">Price:</label>
    <input type="String" name="price" value="{{this.price}}">

    <br>

    <button type="submit">Vender</button>

      

    {{#if this.errorMessage}}

      <p class="error">{{this.errorMessage}}</p>

    {{/if}}


  </form>
  
<br>

</div>