<div class="d-flex justify-content-center align-items-center vh-100">
  <div style="width: 50%;">
    <h3 class="text-center">Sign In</h3>

    <form action="/auth/signup" method="post" class="px-4 py-4">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre de usuario</label>
        <input type="text" name="name" class="form-control" value="{{this.name}}">
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input type="text" name="address" class="form-control" value="{{this.address}}">
      </div>

      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Fecha de nacimiento</label>
        <input type="date" name="dateOfBirth" class="form-control" value="{{this.dateOfBirth}}">
      </div>

      <div class="mb-3">
        <label for="telNum" class="form-label">Num. Teléfono</label>
        <input type="text" name="telNum" class="form-control" value="{{this.telNum}}">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" name="email" class="form-control" value="{{this.email}}">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control">
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">País</label>
        <input type="text" list="countries" name="country" id="countryInput" class="form-control" placeholder="Escribe el nombre del país">
        <datalist id="countries">
          <option value="Argentina">
          <option value="Brasil">
          <option value="México">
          <option value="España">
          <option value="Guatemala">
          <option value="United States">
          <!-- Agregar más opciones -->
        </datalist>
      </div>

      <button type="submit" class="btn btn-primary">Registrarse</button>

      {{#if this.errorMessage}}
      <p class="error">{{this.errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
