  <div class="d-flex justify-content-center align-items-center vh-100">
    <div style="width: 50%;">
      <h3 class="px-4 py-4">New Card</h3>

      <form action="/stock" method="post" class="px-4 py-4" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="name" class="form-label">Card's name:</label>
          <input type="text" name="name" class="form-control" value="{{this.name}}">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <input type="text" name="description" class="form-control" value="{{this.description}}">
        </div>

        <div class="mb-3">
          <label for="rarity" class="form-label">Rarity:</label>
          <input type="text" name="rarity" class="form-control" value="{{this.rarity}}">
        </div>

        <div class="mb-3">
          <label for="noSeries" class="form-label">Series number:</label>
          <input type="text" name="noSeries" class="form-control" value="{{this.noSeries}}">
        </div>

        <div class="mb-3">
          <label for="language" class="form-label">Language:</label>
          <input type="text" name="language" class="form-control" value="{{this.language}}">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image:</label>
          <input type="image" name="image" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        {{#if this.errorMessage}}
        <p class="error">{{this.errorMessage}}</p>
        {{/if}}
        
      </form>
    </div>
  </div>
