<div>

    <h2>Admin Profile</h2>

    <h3>Welcome {{this.userProfile.name}}!</h3>


    

    <p>What would you like to do today?</p>

 <div class="cards-container mt-5">
    {{#each allCards}}
    <div class="card-item">
        <img src="{{this.image}}" alt="Card Image" width="400">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        {{!-- <a href="/stock/{{this._id}}/details"> --}}
        {{!-- <a href="/profile/admin">
            <button class="btn btn-primary">Delete Card</button>
        </a> --}}
        <form action="/profile/admin" method="post">
            <button class="btn btn-danger" type="submit">Delete Card</button>
        </form>
    </div>
    {{/each}}

</div>