<div class="container custom-container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <!-- Detalles de la carta -->
      <h3>Card's Details:</h3>
      <div class="card">
        <img
          src="{{this.oneCard.image}}"
          class="card-img-top"
          alt="Card Image"
        />
        <div class="card-body">
          <h4 class="card-title">{{this.oneCard.name}}</h4>
          <p class="card-text">{{this.oneCard.description}}</p>
          <p class="card-text">Rarity: {{this.oneCard.rarity}}</p>
          <p class="card-text">Series Number: {{this.oneCard.noSeries}}</p>
          <p class="card-text">Language: {{this.oneCard.language}}</p>
          <a href="/offer/sell" class="btn btn-primary">Sell this card</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="custom-wrapper">
    <form class="px-4 py-4">
      <div class="mb-3">
        {{#each this.offersArr}}
          <div class="custom-box border mb-3 p-3">
            <!-- Contenedor con borde -->
            <div class="mb-3 border-bottom pb-2">
              <!-- Separador entre cada dato -->
              <p class="mb-0">Seller: {{this.seller.name}}</p>
            </div>
            <div class="mb-3 border-bottom pb-2">
              <!-- Separador entre cada dato -->
              <p class="mb-0">Quantity: {{this.quantity}}</p>
            </div>
            <div class="border-bottom pb-2">
              <!-- Último separador sin margen inferior -->
              <p class="mb-0">Price: {{this.price}}</p>
            </div>
          <a href="/" class="btn btn-primary">Buy</a>
          </div>
          

        {{/each}}
      </div>
    </form>
    <hr class="custom-box" />
    <!-- Línea horizontal (oculta por CSS) -->
  </div>
</div>

<div class="container">
  {{#if isAdminSession}}
    <form action="/stock/{{this.oneCard._id}}/delete" method="post">
      <button class="btn btn-danger">Delete Card</button>
    </form>
  {{/if}}
</div>
