<div class="container custom-container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <!-- Detalles de la carta -->
      <h3>Detalles de tu carta:</h3>
      <div class="card">
        <img src="{{this.oneCard.image}}" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h4 class="card-title">{{this.oneCard.name}}</h4>
          <p class="card-text">{{this.oneCard.description}}</p>
          <p class="card-text">Rarity: {{this.oneCard.rarity}}</p>
          <p class="card-text">Series Number: {{this.oneCard.noSeries}}</p>
          <p class="card-text">Language: {{this.oneCard.language}}</p>
          <a href="/offer/sell" class="btn btn-primary">Vender</a>
          {{!-- <a href="/offer/sell"><button>Vender</button></a> --}}

          <!-- User Information -->
          {{#if this.oneCard.user}}
            {{#each this.oneCard.user}}
              <p class="card-text">User: {{this.name}}, Country: {{this.country}}, Year Born: {{this.yearBorn}}</p>
            {{/each}}
          {{else}}
            <p class="card-text">No user information available</p>
          {{/if}}
          <!-- Edit button -->
          <!-- <a href="/book/{{this.oneCard._id}}/edit" class="btn btn-primary">Edit</a> -->
        </div>
      </div>
    </div>
  </div>
</div>





{{!-- <div>

<h3>Detalles de una carta</h3>

<div>
    <div>
    <p>{{this.oneCard.image}}

    </div>


    <h2>{{this.oneCard.name}}</h2>
    <h4>{{this.oneCard.name}}</h4>
    <p>{{this.oneCard.description}}
    <p>{{this.oneCard.rarity}}
    <p>{{this.oneCard.noSeries}}
    <p>{{this.oneCard.language}}
    
    {{#each this.oneCard.user}}
    
    {{/each}}

  
    

    
    {{!-- <p>Autor: {{this.oneBook.author.name}} nacido en {{this.oneBook.author.country}} en año {{this.oneBook.author.yearBorn}} </p> --}}

    {{!-- {{#each this.oneCard.user}}
      <p>Autor: {{this.name}} nacido en {{this.country}} en año {{this.yearBorn}} </p>
    {{/each}} --}}


    {{!-- {{#with this.oneBook.author}}
      <p>Autor: {{name}} nacido en {{country}} en año {{yearBorn}} </p>
    {{/with}} --}}

    {{!-- <a href="/book/{{this.oneCard._id}}/edit">
      <button>Ir a editar</button>
    </a> --}}
{{!-- <div>
  {{#each this.offersArr}}

  
  <p>Seller:{{this.seller.name}}
  <p>{{this.quantity}}
  <p>{{this.price}}
    

  {{/each}}

</div> --}}

<div class="container">
          <div class="custom-wrapper">
            <form class="px-4 py-4">
              <div class="mb-3">
                {{#each this.offersArr}}
                <div class="custom-box border mb-3 p-3"> <!-- Contenedor con borde -->
                  <div class="mb-3 border-bottom pb-2"> <!-- Separador entre cada dato -->
                    <p class="mb-0">Seller: {{this.seller.name}}</p>
                  </div>
                  <div class="mb-3 border-bottom pb-2"> <!-- Separador entre cada dato -->
                    <p class="mb-0">Quantity: {{this.quantity}}</p>
                  </div>
                  <div class="border-bottom pb-2"> <!-- Último separador sin margen inferior -->
                    <p class="mb-0">Price: {{this.price}}</p>
                  </div>
                </div>
                {{/each}}
              </div>
            </form>
            <hr class="custom-box"> <!-- Línea horizontal (oculta por CSS) -->
          </div>
        </div>