<div>

<h3>Detalles de una carta</h3>

<div>
    <div>
    <p>{{this.oneCard.image}}

    </div>


    <h2>{{this.oneCard.name}}</h2>
    <p>{{this.oneCard.description}}
    <p>{{this.oneCard.rarity}}
    <p>{{this.oneCard.noSeries}}
    <p>{{this.oneCard.language}}
    


    <br>
    <a href="/stock/{{this.oneCard._id}}"><button>Details</button></a>

    

    

  </div>


</div>