{{!-- <div class="d-flex justify-content-center align-items-center vh-100">
    <div style="width: 50%;">
      <h3 class="text-center">Carrito de Compras</h3>

      <div class="card">
        <div class="card-body">
          <!-- Contenido del carrito -->
          <h5 class="card-title">Productos en tu carrito</h5>
          <p class="card-text">Aquí se mostrarían los productos que has añadido al carrito.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Producto 1</li>
          <li class="list-group-item">Producto 2</li>
          <!-- Puedes agregar más elementos list-group-item para mostrar los productos -->
        </ul>
        <div class="card-body">
          <p class="card-text">Total: $XXX</p>
          <a href="#" class="btn btn-primary">Proceder al Pago</a>
        </div>
      </div>
    </div>
  </div> --}}

  <div>

    <h2>Carrito</h2>

    <h3>Welcome {{this.userProfile.name}}!</h3>


    

    <p>What would you like to do today?</p>

 <div class="cards-container mt-5">
    {{#each allCards}}
    <div class="card-item">
        <img src="{{this.image}}" alt="Card Image" width="400">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        {{!-- <a href="/stock/{{this._id}}/details"> --}}
        <a href="/profile/admin">
            <button class="btn btn-primary">Buy Cards</button>
        </a>
    </div>
    {{/each}}

</div>